[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
jupyter = "*"
boto3 = "*"
pyarrow = "*"
pyyaml = "*"

[dev-packages]
coverage = "*"
pylint = "*"
moto = "*"
awscli = "*"

[requires]
python_version = "3.10"
